<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>
                  <p class="py-6">Welcome to My digital world, Unlock Boundless Inspiration: Explore a World of Ideas, Connect with Like Minds, and Ignite Your Creativity on Our Platform!</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="/myImg.png" alt="My Image" class="w-full rounded-lg shadow-md" style="height:26rem;">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">About Me</h2>
              <p class="text-gray-400">"Hello, I'm Fenil Soni, a dedicated and enthusiastic computer science student deeply passionate about technology's boundless potential. Armed with a robust understanding of programming languages, algorithms, and data structures, I thrive on unraveling intricate problems and translating concepts into practical solutions. My insatiable curiosity drives me to explore the forefront of technological advancements, ensuring I remain at the cutting edge of the field.I'm committed to continual learning and growth, eagerly absorbing the latest developments in computer science to contribute fresh perspectives and expertise to this dynamic domain."</p>
              <br>
              <p class="text-gray-400">Hobbies: Coding,Listening Songs and Playing sports
              </p>
              <p class="text-gray-400">Course: Computer Programming </p>
          </div>
      </div>
  </div>
</body>

</html>